extends layout

block content
    h1= title
    form(method="POST", action="/users")
        p Username | Phone number | Email
        input(type="text", name="username")
        p Password
        input(type="text", name="password")
        p New Password (First time)
        input(type="text", name="newpassword")
        p
        input(type="submit", value="authenticateUser")